@model List<ReporterDay.EntityLayer.Entities.Article>

<div class="sidebar-widget recent-posts">
    <h5 class="widget-title">Son Makaleler</h5>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="/Article/ArticleDetail/@item.Slug">@item.Title</a>
            </li>
        }
    </ul>
</div>
