<div class="recent-posts-widget widget-item">

    <h3 class="widget-title">Son Makalaler</h3>

    <div class="post-item">
        <img src="/ZenBlog-1.0.0/assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0">
        <div>
            <h4><a href="blog-details.html">başlık</a></h4>
            <time datetime="2020-01-01">tarih</time>
        </div>
    </div><!-- End recent post item-->



</div>