
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Component.InvokeAsync("_HeadDefaultComponentPartial")
<body class="category-page">

    @await Component.InvokeAsync("_HeaderDefaultComponentPartial")

    <main class="main">

        <!-- Page Title -->
        <div class="page-title position-relative">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Category</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Categories</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->


        @await Component.InvokeAsync("_ArticleListDefaultComponentPartial")

    </main>

    @await Component.InvokeAsync("_FooterDefaultComponentPartial")

</body>

</html>