<div class="blog-author-widget widget-item">

    <div class="d-flex flex-column align-items-center">
        <div class="d-flex align-items-center w-100">
            <img src="/ZenBlog-1.0.0/assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
            <div>
                <h4>Yazar Adı Soyadı</h4>
                <div class="social-links">
                    <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                    <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <p>
            Yazar hakkında
        </p>

    </div>

</div>

<div class="search-widget widget-item">

    <h3 class="widget-title">Arama Paneli</h3>
    <form action="">
        <input type="text">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>

</div>